In [ ]:
# Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца.
# Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [16]:
import random
import pandas as pd

In [22]:
lst = ['robot'] * 10
lst += ['human'] * 10

In [18]:
random.shuffle(lst)

In [19]:
print(lst)
print()

['robot', 'robot', 'robot', 'human', 'human', 'human', 'human', 'robot', 'robot', 'robot', 'human', 'robot', 'human', 'human', 'human', 'robot', 'human', 'robot', 'human', 'robot']

In [20]:
data = pd.DataFrame({'whoAmI':lst})
data.loc[data['whoAmI'] == 'robot', 'robot_group'] = '1'
data.loc[data['whoAmI'] != 'robot', 'robot_group'] = '0'
data.loc[data['whoAmI'] == 'human', 'human_group'] = '1'
data.loc[data['whoAmI'] != 'human', 'human_group'] = '0'

In [21]:
data.head(n=20)

   whoAmI robot_group human_group
0   robot           1           0
1   robot           1           0
2   robot           1           0
3   human           0           1
4   human           0           1
5   human           0           1
6   human           0           1
7   robot           1           0
8   robot           1           0
9   robot           1           0
10  human           0           1
11  robot           1           0
12  human           0           1
13  human           0           1
14  human           0           1
15  robot           1           0
16  human           0           1
17  robot           1           0
18  human           0           1
19  robot           1           0